<div class="adventure_continent-card" data-category="{{ category }}">
  <div class="image">
    <span class="badge">Quads</span>
    <img src="{{route}}assets/images/bangkok.png" loading="lazy" alt="Bangkok">
  </div>

  <div class="info">
    <p class="title">Marruecos, África <span>9 días</span></p>
    <p class="desc">Descubre Bangkok con Iberojet</p>
  </div>

  <div class="bottom">
    <button class="btn_link">
      <span>Ver desglose</span>
      <img src="{{route}}assets/icons/icon-arrow_down.svg" alt="open">
    </button>
    <p class="price"><span>Desde</span> 249,00 €</p>
    <button class="btn btn_tertiary">Reservar</button>
  </div>

  <div class="modal modal_desglose">
    <div class="modal_header">
      <p class="title">Desglose de precios</p>
      <button class="btn_icon"></button>
    </div>
  
    <div class="modal_content">
      <div class="info">
        <p class="title">Marruecos, África <span>9 días</span></p>
      </div>
    </div>
  </div>
</div>
