<div class="adventure_continent-card">
  <div class="image">
    <span class="badge">Quads</span>
    <img src="{{route}}assets/images/morocco.png" loading="lazy" alt="Morocco">
  </div>

  <div class="info">
    <p class="title">Marruecos, África <span>9 días</span></p>
    <p class="desc">Descubre Bangkok con Iberojet</p>
  </div>

  <div class="bottom">
    <button class="btn_link">Ver desglose</button>
    <p class="price"><span>Desde</span> 249,00 €</p>
    <button class="btn btn_secondary">Reservar</button>
  </div>
</div>