<header class="header">
  <div class="header_flex flex">
    <div class="header_logo">
      <a href="#" title="accede a la página principal">
        <img src="{{route}}assets/images/logo.svg" alt="accede a la página principal de Avoris">
      </a>
    </div>

    <div class="header_nav">
      <ul class="header_nav_list">
        <li>
          <a href="#" title="accede a aventura">
            <span class="icon"><img src="{{route}}assets/icons/icon-adventure.svg" alt=""></span>
            <span>Aventura</span>
          </a>
        </li>
        <li>
          <a href="#" title="accede a destinos">
            <span class="icon"><img src="{{route}}assets/icons/icon-destinies.svg" alt=""></span>
            <span>Destinos</span>
          </a>
        </li>
        <li>
          <a href="#" title="accede a alojamiento">
            <span class="icon"><img src="{{route}}assets/icons/icon-accommodation.svg" alt=""></span>
            <span>Alojamiento</span>
          </a>
        </li>
        <li>
          <a href="#" title="accede a sobre nosotros">
            <span>Sobre nosotros</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="header_right">
      <a href="#" class="btn btn_primary">Reserva</a>
    </div>

    <div class="header_mobile">
      <button class="btn_icon btn_nav">
        <span></span>
      </button>
    </div>
  </div>
</header>