@use "sass:map";
@use "../helpers/variables";

/* Resources */
html {
  scroll-behavior: smooth;
}

body {
  &.body--open {
    overflow: hidden;
  }
}

.flex {
  @media (min-width: variables.$screenSm){
    display: flex;
  }
}

.grid {
  @media (min-width: variables.$screenSm){
    display: grid;
  }
}

a {
  color: variables.$colorTag;

  &:hover {
    text-decoration: none;
  }
}
